.UnderConstruction
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 4rem;
    text-align: center;
}
.textConstruction
{
    padding-block: 1.5rem
}

.imageContainer
{
    max-width:40rem;
    height: auto;
    padding-block: 0rem;
    padding-inline: 1rem;

    #ConstructionImage
    {
        width: 100%; 
    }
}