//10. Tenth section / "Article & News"
@media (min-width: 200px)
{
    .section.section-article
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 2rem;
        padding-inline: 1rem;
        background-color: transparent;
    }

    .headerArticleNews
    {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .imageContainer
    {
        width: 100%;
        padding: 0rem; 
        height: 16rem;
        overflow-y: hidden;
        overflow-x: hidden;

        .image-article
        {
            width: 100%;
        }
    }
}

@media (min-width: 1400px)
{

    .section.section-article
    {
        padding-inline: 18rem;
        padding-block: 4rem;
    }

    .headerArticleNews
    {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: end;
        text-align: left;
        padding-bottom: 2rem;

        h1{
            margin:0; 
        }
    }

    .sliderArticleNews
    {
        max-width: 1320px; 
        padding-block: 1rem;
        
        .articleContainer
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;

            .article
            {
                height: 30rem;
            }
        }
    }
}

   .sliderArticleNews
   {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media (max-width: 768px)
    {
        display: none;
    }
}

.slider-mobilversion
{
    @media (min-width: 768px)
    {
        display: none;
    }
    
    .carousel-control-prev
    {
        background-color: #000000b0;
        color: #dad9d3;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-top: 8rem;
    }

.carousel-control-next
    {
        background-color: #000000b0;
        color: #dad9d3;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-top: 8rem;       
    }

}

.linkTitle
{
    color: black;
    text-decoration: none;
    
    &:hover
    {
    color: rgb(66, 66, 66);
    text-decoration: underline
    }

    &:active
    {
        color: rgb(143, 143, 143); 
    }
}

.imageContainerNewsAndArticles
{
    padding: 0; 
}

