@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700&display=swap");

html, body 
{
  color: #191919;
  font-family: "Inter", sans-serif;
}

@media (min-width: 300px) 
{
    .sectionHeadlines {
      text-align: center;
      font-size: 1.8rem;
      line-height: 2.5rem;
      font-weight: 600;
      line-height: 3.4rem;
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
      }

    .pageTitle {
        text-align: center;
        font-size: 0.9rem;
        font-family: "DM Sans";
        margin-bottom: 1rem;
        color: #F94D1C;
      }

    p {
        font-size: 0.8rem;
      }

      #mainHeadline
      {
        font-size: 2.5rem;
        font-weight: 700;
      }
  }

@media (min-width: 768px) 
{
  h1 {
    text-align: left;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.05rem;
    font-weight: 200;
  
  }

  .pageTitle {
    text-align: left;
  }

  p {
    font-weight: 100;
    padding-top: 0.5rem;
    line-height: 2rem;
    font-size: 0.95rem;
  }
}

.hr-768px 
{
  display: none;
}

@media (max-width: 768px) {
  .hr-768px {
    display: flex;
    border-color: #868686;
  }
}

.btn-yellow 
{
  background-color: #F9D783;
  border-color: #F9D783;
  border-style: none;
  padding: 0.6rem 1.5rem;
  min-width: 12rem;
  max-width: 14rem;
  border-radius: 2rem;
  transition: background-color ease-in-out 100ms, transform ease-in-out 100ms;
}

.btn-yellow a {
  color: #191919;
  text-decoration: none;
}
.btn-yellow:hover {
  background-color: #1d1d1d;
  border: #191919;
  color: white;
}
.btn-yellow:hover a {
  color: #DAD9D3;
}
.btn-yellow:active {
  transform: scale(1.05);
  background-color: #868686;
  border: #191919;
}

.btn-black {
  background-color: #191919;
  border: none;
  color: #FFFFFF;
  z-index: 1;
  min-width: 12rem;
  max-width: 16rem;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  transition: background-color ease-in-out 100ms, transform ease-in-out 100ms;
}

.btn-black a {
  color: #FFFFFF;
  text-decoration: none;
}
.btn-black:hover {
  background-color: #868686;
}
.btn-black:hover a {
  color: #FFFFFF;
}
.btn-black:active {
  background-color: #868686;
  transform: scale(1.05);
}
.btn-black:active a:active {
  color: #000000;
}

@media (max-width: 998px) {
  .btn-black {
    font-size: 16px;
  }
}

.btn-play {
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 3rem;
  transition: box-shadow ease-in-out 100ms, transform ease-in-out 100ms;
}
.btn-play:hover {
  box-shadow: 0 0 16px 0px rgba(25, 25, 25, 0.2392156863), inset 0 0 16px 0px rgba(25, 25, 25, 0.2392156863);
}
.btn-play:active {
  transform: scale(1.05);
}
.btn-play a {
  text-decoration: none;
  color: #191919;
}
.btn-play a .playicon {
  width: 50px;
  height: auto;
}
@media (max-width: 998px) {
  .btn-play {
    font-size: 16px;
  }
}

.arrow 
{
  margin-left: 1rem;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

@media (max-width: 998px) 
{
  .arrow {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .arrow 
  {
    display: none;
  }
}

#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2588235294);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
}
#overlay.show {
  opacity: 1;
  pointer-events: all;
  display: none;
}

/* Header */
.header {
  background-color: #F0EFE9;
  position: relative;
}
.header #to-top-btn {
  background-color: #F0EFE9;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 10;
  opacity: 1;
  transition: background-color ease-in-out 200ms, opacity ease-in-out 200ms;
}
.header #to-top-btn:hover {
  background-color: #ababab;
}
.header #to-top-btn:active {
  background-color: rgba(164, 164, 164, 0.4784313725);
  transition: 20ms;
}
.header .hide-btn {
  opacity: 0 !important;
}
@media (max-width: 992px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
}
.header .container #menu {
  display: block;
  background-color: #F0EFE9;
  color: #fff;
  padding: 5px;
  margin: 0;
  position: fixed;
  height: 100%;
  border: solid 2px #DAD9D3;
  text-align: center;
  right: -100%;
  transition: right 300ms;
  box-shadow: 0 0 25px 0px rgba(25, 25, 25, 0.4823529412);
}
.header .container #menu.open {
  right: 0;
}
.header .container .menu-border {
  border: solid 1px #DAD9D3;
}
.header .container #menu ul {
  list-style-type: none;
  padding-inline: 0;
  margin: 0px;
  margin-top: -1rem;
}
.header .container a {
  text-decoration: none;
  color: #191919;
}
.header .container a:active {
  color: rgba(25, 25, 25, 0.5137254902);
}
.header .container #menu li {
  padding: 1rem;
  border-bottom: solid 1px #DAD9D3;
  transition: backgreound-color ease-in-out 100ms;
  z-index: 1;
}
.header .container #menu li:hover {
  background-color: #e4e4e4;
  box-shadow: 0 0 12px 1px #e4e4e4;
}
.header .container #menu li:active {
  background-color: rgba(255, 255, 255, 0.8862745098);
  box-shadow: 0 0 12px 0px #ffffff;
}
.header .container .menu-bars {
  font-size: 30px;
  background-color: #F0EFE9;
  border: none;
  padding-right: 1rem;
}
.header .container .menu-bars:active {
  color: #868686;
}
@media (min-width: 995px) {
  .header .container .menu-bars {
    display: none;
  }
}
.header .container .menu {
  display: none;
  padding-top: 1rem;
}
@media (min-width: 995px) {
  .header .container .menu {
    display: block;
    width: 1200px;
  }
}
.header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #DAD9D3;
  padding-bottom: 0.2rem;
  align-items: center;
}
.header .container .menu .top-menu .contact-information {
  display: flex;
  align-items: center;
}
.header .container .menu .top-menu .contact-information a {
  text-decoration: none;
  transition: -webkit-text-decoration ease-in-out 100ms;
  transition: text-decoration ease-in-out 100ms;
  transition: text-decoration ease-in-out 100ms, -webkit-text-decoration ease-in-out 100ms;
  color: #191919;
}
.header .container .menu .top-menu .contact-information a:hover {
  text-decoration: underline;
}
.header .container .menu .top-menu .contact-information .box-content {
  margin-right: 2rem;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  transition: transform ease-in-out 100ms;
  padding-right: 2rem;
}
.header .container .menu .top-menu .contact-information .box-content i {
  margin-right: 0.4rem;
  font-size: 1.2rem;
  color: #666666;
}
.header .container .menu .top-menu .contact-information .box-content:hover {
  transform: scale(1.05);
}
.header .container .menu .top-menu .contact-information .box-content-last {
  font-size: 1rem;
  font-weight: 300;
  border: none;
  transition: transform ease-in-out 100ms;
}
.header .container .menu .top-menu .contact-information .box-content-last i {
  margin-right: 0.4rem;
  font-size: 1.2rem;
  color: #666666;
}
.header .container .menu .top-menu .contact-information .box-content-last:hover {
  transform: scale(1.05);
}
.header .container .menu .top-menu .social-media {
  height: 2rem;
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .menu .top-menu .social-media i {
  font-size: 1.4rem;
  transition: transform 0.2s;
  padding: 0.5rem;
}
.header .container .menu .top-menu .social-media i:hover {
  transform: scale(1.3);
}
.header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
.header .container .menu .main-menu nav {
  height: 30px;
}
.header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 2.5rem;
  transition: transform ease-in-out 100ms, border-bottom ease-in-out 100ms;
}
.header .container .menu .main-menu nav a:hover {
  border-bottom: solid 1px #666666;
  transform: scale(1.1);
}
.header .container .menu .main-menu nav a:hover:active {
  color: #868686;
  border-bottom: solid 1px #868686;
}
.header .btn-yellow:hover a {
  color: #DAD9D3;
}
.header .btn-yellow:active {
  background-color: #868686;
  border: #191919;
}

/* Section One - Showcase */
@media (min-width: 200px)
{
  .sectionShowcase
  {
    background-color: #F0EFE9;
    padding: 2rem;
    position: relative;
    z-index: 0;
  }

  #imgElementShowcase
  {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    z-index: -1;
  }

  .sectionShowcase .contentContainer .textContainer 
  {
    text-align: center;
  }

  .sectionShowcase .contentContainer .textContainer .Btndistans
  {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
  }
  .sectionShowcase .contentContainer .imageContainer {
    display: none;
  }
}

@media (min-width: 1400px)
{
  .sectionShowcase
  {
    display: flex;
    justify-content: center;
    height: 45rem;

  }
  .sectionShowcase .contentContainer
  {
    max-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .sectionShowcase .contentContainer .textContainer 
  {
    display: block;
    margin: auto;
    text-align: left;

    #mainHeadline
    {
      font-size: 5rem;
      line-height: 5.5rem;
      text-align: left;
    }

    #mainText
    {
      font-size: 1.2rem;
    }
  }

  .sectionShowcase .contentContainer .imageContainer {
    display: flex;
    position: relative;

    #mainImage
    {
      position: absolute;
      bottom: -5%;
      right: -5%;
    }
  }

  .sectionShowcase .contentContainer .textContainer .Btndistans
  {
    display: flex;
    gap: 2rem;
    padding-block: 1rem;
  }
}

/* Section Two - Logotypes */
.section-company-logotypes {
  padding-block: 6rem;
}
@media (max-width: 768px) {
  .section-company-logotypes {
    padding: 2rem;
  }
}
.section-company-logotypes .container {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  margin: none;
}
@media (max-width: 1400px) {
  .section-company-logotypes .container {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .section-company-logotypes .container .gobona {
    grid-column: 1/3;
  }
}
@media (max-width: 768px) {
  .section-company-logotypes .container .logo {
    max-width: 83.69px;
  }
}

.section-features .wrapper-grid {
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  padding-block: 2rem;
}
@media (max-width: 768px) {
  .section-features .wrapper-grid {
    padding-inline: 1rem;
  }
}
.section-features .wrapper-grid .my-container {
  display: flex;
  border: solid 2px #DAD9D3;
  padding-inline: 5rem;
  padding-block: 2rem;
}
@media (max-width: 1600px) {
  .section-features .wrapper-grid .my-container {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .section-features .wrapper-grid .my-container {
    padding: 0rem;
    border-radius: 1rem;
  }
}
.section-features .wrapper-grid .my-container .content {
  width: 28rem;
  padding-block: 3rem;
  border: none;
}
@media (max-width: 1600px) {
  .section-features .wrapper-grid .my-container .content {
    display: block;
    justify-items: center;
    margin: auto;
    width: 480px;
    text-align: center;
  }
}
.section-features .wrapper-grid .my-container .content h1 {
  padding-block: 1rem;
}
@media (max-width: 768px) {
  .section-features .wrapper-grid .my-container .content {
    width: 90%;
    margin: 0rem;
    padding-block: 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.section-features .wrapper-grid .my-container .content .btn-yellow {
  width: 420px;
  margin-block: 1rem;
}
@media (max-width: 768px) {
  .section-features .wrapper-grid .my-container .content .btn-yellow {
    width: 280px;
  }
}
.section-features .wrapper-grid .advices {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}
@media (max-width: 1600px) {
  .section-features .wrapper-grid .advices {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .section-features .wrapper-grid .advices {
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-self: center;
  }
}
.section-features .wrapper-grid .advices article {
  width: 320px;
  padding-block: 1rem;
  h3{
    font-size: 1rem;
  }
}

.section-features .wrapper-grid .advices article h3{
    font-size: 1.2rem;
}
@media (max-width: 768px) {
  .section-features .wrapper-grid .advices article {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
.section-features .wrapper-grid .advices article .image-holder {
  width: 60px;
  height: 60px;
  position: relative;
}
.section-features .wrapper-grid .advices article .image-holder .addition-height {
  height: 8px;
  width: 2px;
  background-color: rgba(168, 168, 168, 0.4941176471);
  position: absolute;
  top: -10px;
}
.section-features .wrapper-grid .advices article .image-holder .addition-width {
  height: 2px;
  width: 8px;
  background-color: rgba(168, 168, 168, 0.4941176471);
  position: absolute;
  top: -7px;
  left: -3px;
}
.section-features .wrapper-grid .advices article .image-holder .addition-1 {
  position: absolute;
  left: 20px;
  top: 0px;
}
.section-features .wrapper-grid .advices article .image-holder .addition-2 {
  position: absolute;
  left: 41px;
  top: 4px;
}
.section-features .wrapper-grid .advices article .image-holder .addition-3 {
  position: absolute;
  left: 52px;
  top: 18px;
}

.section-about-company {
  padding-bottom   : 8rem;
}
@media (max-width: 1600px) {
  .section-about-company {
    padding-block: 2rem;
  }
}
.section-about-company .container {
  display: flex;
  justify-content: center;
  padding: 0rem;
  gap: 10rem;
}
@media (max-width: 1600px) {
  .section-about-company .container {
    gap: 4rem;
  }
}
@media (max-width: 1380px) {
  .section-about-company .container {
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .section-about-company .container {
    flex-direction: column;
    justify-items: content;
    text-align: center;
    padding: 1rem;
    width: 90%;
    border: solid 2px #DAD9D3;
    border-radius: 1rem;
    row-gap: 4rem;
  }
}
.section-about-company .container .content {
  width: 500px;
}
@media (max-width: 1200px) {
  .section-about-company .container .content {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .section-about-company .container .content {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 498px) {
  .section-about-company .container .content {
    margin-top: 3rem;
  }
}
.section-about-company .container .content .btn-container {
  margin-top: 4rem;
  display: flex;
  justify-content: left;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .section-about-company .container .content .btn-container {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  
  }
  .section-about-company .container .content .btn-container .btn-black {
    margin-bottom: 1rem;
  }
}
.section-about-company .image-and-text-container {
  position: relative;
}
.section-about-company .image-and-text-container .image-samantha {
  width: 100%;
  height: auto;
}
.section-about-company .image-and-text-container .text-container-blue {
  position: absolute;
  color: rgb(0, 0, 0);
  left: -3.5rem;
  top: 24.6rem;
  background-color: #BEEBFF;
  width: 23rem;
  height: 11.3rem;
  padding: 2rem;
}
@media (max-width: 1600px) {
  .section-about-company .image-and-text-container .text-container-blue {
    position: absolute;
    top: 23rem;
    left: 0;
    width: 300px;
    height: 150px;
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .section-about-company .image-and-text-container .text-container-blue {
    position: absolute;
    width: 90%;
    top: 84%;
    left: 5%;
    display: block;
    text-align: left;
    border-radius: 1rem;
  }
}
.section-about-company .image-and-text-container .text-container-blue .Samantha {
  display: flex;
  align-items: baseline;
  padding-top: 0.2rem;
}
.section-about-company .image-and-text-container .text-container-blue .Samantha .h3 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.section-about-company .image-and-text-container .text-container-blue .Samantha .h5 {
  color: #F94D1C;
  font-weight: bold;
  padding-left: 0.5rem;
  font-size: 1rem;
}
.section-about-company .image-and-text-container .text-container-blue .p1 {
  text-align: left;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 0.96rem;
  line-height: 1.8rem;
}
@media (max-width: 420px) {
  .section-about-company .image-and-text-container .text-container-blue .p1 {
    line-height: 1.5rem;
    font-size: 0.8rem;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .section-about-company .image-and-text-container .text-container-blue p {
    margin: 0;
  }
}
.section-about-company .playicon {
  margin-right: 0.6rem;
}

@media (min-width: 200px)
{
  .section-our-services {
    background-color: #F0EFE9;
    padding-inline: 1rem;
    padding-block: 2rem;
    display: block;
    position: relative;
  }
}

.section-our-services .design-element-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.section-our-services .design-element-2 .image-element-2 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.section-our-services .wrapper-grid {
  background-color: transparent;
  position: relative;
  z-index: 1;
}
@media (min-width: 100px) {
  .section-our-services .wrapper-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .section-our-services .wrapper-grid {
    display: block;
    padding-inline: 18rem;
    margin: auto;
  }
}

@media (min-width: 1800px) {
  .section-our-services .wrapper-grid {
    max-width: 1320px;
    padding: 0; 
  }
}

@media (min-width: 100px) 
{
.section-our-services .wrapper-grid .containerHeadlineOurServices {
 width: 90%;
  }
}

@media (min-width: 768px) {
  .section-our-services .wrapper-grid .containerHeadlineOurServices 
  {
    width: 30rem;
    
  }
}


@media (min-width: 200px) {
  .section-our-services .wrapper-grid .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-bottom: 1rem;
  }
}


@media (min-width: 1400px) {
  .section-our-services .wrapper-grid .grid-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.4rem;
    padding-top: 1.2rem;
    align-items: center;
  }
}

@media (min-width: 200px)
{
  .service-box 
  {
  color: #191919;
  background-color: #fffefe;
  
  padding: 1.5rem;
  margin-bottom: 1rem;
  transition: background-color ease-in-out 100ms;

  &:hover
  {
    background-color:  #F9D783;
  }
  }
}

@media (min-width: 768px)
{
  .service-box
  {
  width: 18rem;
  height: 22rem;
  } 
}

@media (min-width: 1800px)
{
  .service-box
  {
  width: 18rem;
  height: 21rem;
  } 
}

.service-box .line {
  border-color: #191919;
  border-width: 0.2rem;
  width: 25%;
  margin-bottom: 2rem;
}

.service-box .circlearrow {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 2rem;
}
.section-our-services .wrapper-grid .arrow-in-circle {
  width: 26;
  height: 26;
  background-color: transparent;
}
.section-our-services .btn-round {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  background-color: black;
  border: none;
  transition: margin-right ease-out 200ms;
}
.section-our-services .btn-round:hover {
  background-color: #868686;
  color: #191919;
  margin-right: -5px;
}
.section-our-services .btn-round:active {
  background-color: #DAD9D3;
}
.section-our-services .white {
  background-color: white;
}
.section-our-services .end {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.section-why-us {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding-block: 4rem;
  padding-left: 18rem;
}
@media (max-width: 1800px) {
  .section-why-us {
    padding-block: 2rem;
    flex-direction: column;
    padding-inline: 0;
  }
  .section-why-us h4 {
    text-align: center;
  }
  .section-why-us h1 {
    text-align: center;
  }
}
.section-why-us .container {
  width: 39rem;
}
@media (max-width: 768px) {
  .section-why-us .container {
    width: 90%;
    padding-block: 1rem;
    border: solid 2px #DAD9D3;
    border-radius: 1rem;
    margin: 0rem;
  }
}
.section-why-us .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.section-why-us .content .svg {
  padding-bottom: 2rem;
}
.section-why-us .text {
  padding-left: 1.6rem;
}
.section-why-us .text .height {
  line-height: 0.3rem;
}
.section-why-us .rectangel {
  position: relative;
  top: 8rem;
  background-color: #F0EFE9;
  width: 60rem;
  height: 26rem;
}
@media (max-width: 1800px) {
  .section-why-us .rectangel {
    display: none;
  }
}
.section-why-us .image {
  position: absolute;
  top: -12rem;
  left: 7rem;
}

.section-project-and-case {
  padding-block: 4rem;
}
@media (max-width: 768px) {
  .section-project-and-case {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .section-project-and-case .container {
    width: 90%;
    padding-block: 1rem;
    border: solid 2px #DAD9D3;
    border-radius: 1rem;
    margin: 0rem;
  }
}
.section-project-and-case .container .section-title {
  text-align: center;
}
.section-project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .section-project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.section-project-and-case .container .project-and-cases article img {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 20px;
}
.section-project-and-case .container .project-and-cases article h3 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.201);
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.section-project-and-case .container .project-and-cases article a {
  margin-right: 10px;
  text-decoration: none;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  padding-top: 15px;
  transition: color ease-in-out 100ms;
}
.section-project-and-case .container .project-and-cases article a .arrow {
  padding: 0rem;
  margin-left: 0.5rem;
}
.section-project-and-case .container .project-and-cases article a:hover {
  color: #868686;
}
.section-project-and-case .container .project-and-cases article a:active {
  color: #DAD9D3;
}
.section-project-and-case .btn-position {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.section-project-and-case .btn-position .btn-black {
  margin: 0rem;
}

.section-our-team {
  background-color: #F9D783;
  padding-inline: 18rem;
  padding-block: 8rem;
}
@media (max-width: 1600px) {
  .section-our-team {
    padding-inline: 6rem;
    padding-block: 4rem;
  }
}
@media (max-width: 998px) {
  .section-our-team {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}
.section-our-team .headlines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inset: 0;
  padding-bottom: 2rem;
}
@media (max-width: 1400px) {
  .section-our-team .headlines {
    display: block;
    row-gap: 1rem;
    text-align: center;
    padding: 1rem;
  }
}
.section-our-team .yellow {
  border: solid 2px black;
}
@media (max-width: 1400px) {
  .section-our-team .yellow {
    margin-block: 1rem;
  }
}
.section-our-team .slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0rem;
  justify-items: left;
  gap: 2.3rem;
}
@media (max-width: 1800px) {
  .section-our-team .slider {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}
@media (max-width: 768px) {
  .section-our-team .slider {
    margin: 0rem;
    padding: 0rem;
    width: 250px;
    display: flex;
    overflow-x: scroll;
    overflow-block: scroll;
    gap: 20px;
    scroll-snap-type: x mandatory;
    box-shadow: 0px 0px 80px rgba(243, 201, 255, 0.1803921569);
    border-radius: 10px;
  }
  .section-our-team .slider .slider-image {
    display: block;
    width: 250px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-our-team .slider .slider-item {
    scroll-snap-align: start;
    width: 240px;
    margin: 0px;
  }
}
@media (max-width: 998px) {
  .section-our-team .slider {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section-our-team .slider {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-top: 0rem;
  }
}
.section-our-team .slider .text-container {
  padding-top: 1.6rem;
}

.section-our-team .slider .text-container .OurTeamName {
  font-size: 1.4rem;
  font-weight: 700;
}
.section-our-team .slider .text-container p {
  margin-top: -0.6rem;
}
.section-our-team .page-end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2.4rem;
}

.section-testimonial {
  background-color: #F9D783;
  padding-inline: 16rem;
  padding-bottom: 4rem;
}
@media (max-width: 1400px) {
  .section-testimonial {
    inset: 0;
    padding: 4rem;
  }
}
@media (max-width: 998px) {
  .section-testimonial {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .section-testimonial {
    display: block;
    padding-block: 2rem;
    padding-inline: 1rem;
  }
}
.section-testimonial .white-background {
  background-color: #FFFFFF;
  padding-top: 5rem;
  padding-inline: 6rem;  
}

@media (max-width: 1400px) {
  .section-testimonial .white-background {
    padding: 2rem;
  }
}
@media (max-width: 998px) {
  .section-testimonial .white-background {
    padding-inline: 1rem;
  }
}
@media (max-width: 768px) {
  .section-testimonial .white-background {
    border-radius: 1rem;
  }
}
.section-testimonial .white-background .container-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 4rem;
  text-align: left;
  row-gap: 2rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media (max-width: 1400px) {
  .section-testimonial .white-background .container-reviews {
    padding: 2rem;
  }
}
@media (max-width: 998px) {
  .section-testimonial .white-background .container-reviews {
    padding: 1rem;
  }
}
@media (max-width: 840px) {
  .section-testimonial .white-background .container-reviews {
    display: none;
  }
}
@media (max-width: 840px) {
  .section-testimonial .white-background .container-reviews .slider-item {
    text-align: left;
    padding-inline: 2rem;
  }
}
.section-testimonial .slider {
  display: none;
}
@media (max-width: 840px) {
  .section-testimonial .slider {
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;

  }
}
.section-testimonial .slider .slidez {
  animation-name: slide;
  animation-duration: 4s;
  border: solid 1px rgb(228, 228, 228);
  padding: 1rem;
}
@keyframes slide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.section-testimonial .round-foto {
  width: 70px;
  height: 70px;
}
.section-testimonial .slider-content {
  border-radius: 1rem;
}
.section-testimonial .slider-content p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section-testimonial .slider-content h4 {
  text-align: left;
}
.section-testimonial .slider-content .foto-name-title {
  display: flex;
}
@media (max-width: 768px) {
  .section-testimonial .slider-content .foto-name-title {
    justify-content: center;
  }
}
.section-testimonial .slider-content .foto-name-title .name-title {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.section-testimonial .slider-content .foto-name-title .name-title .orange-headlines {
  display: block;
  margin-top: -0.1rem;
  font-size: 0.9rem;
}
.section-testimonial .end-of-section {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
@media (max-width: 840px) {
  .section-testimonial .end-of-section {
    padding: 1.5rem;
  }
}

.TestimonialName
{
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.2rem;
}

/* Section News And aricles */

@media (min-width: 300px)
{
  .section.section-article {
    padding: 1rem;
    background-color:#F0EFE9;
  }
}

.section.section-article .slider-mobilversion {
  width: 90%;
  border: solid 1px #F0EFE9;
  border-radius: 1rem;
  padding: 1rem;
}

.section.section-article .slider-mobilversion .carousel .carousel-inner .carousel-item .imageContainer {
  width: 100%;
  height: 18rem;
  padding: 0; 
}

.section.section-article .slider-mobilversion .carousel .carousel-inner .carousel-item .imageContainer .image-article {
  width: 100%;
  height: 16rem;

  overflow-y: hidden;
}
@media (min-width: 768px) {
  .section.section-article .slider-mobilversion {
    display: none;
  }
}
.section.ionsection-article .slider-mobilversion .carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.6901960784);
  color: #dad9d3;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8rem;
}
.section.section-article .slider-mobilversion .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6901960784);
  color: #dad9d3;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8rem;
}
.section.section-article .slider-mobilversion .articels {
  width: 90%;
  display: block;
  margin: auto;
  text-align: center;
  padding-block: 1rem;
}
.section.section-article .slider-mobilversion .articels .image-and-date {
  position: relative;
  padding-bottom: 1rem;
}
.section.section-article .slider-mobilversion .articels .image {
  width: 100%;
  height: auto;
}

.section-get-news {
  padding-inline: 18rem;
  padding-block: 6rem;
  background-color: #F0EFE9;
  position: relative;
}
.section-get-news .design-element-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
}
.section-get-news .design-element-3 .image-element-3 {
  width: 100%;
  height: auto;
  z-index: 0;
}
@media (max-width: 1600px) {
  .section-get-news .design-element-3 .image-element-3 {
    opacity: 0.2;
  }
}
@media (max-width: 1600px) {
  .section-get-news {
    padding: 6rem;
  }
}
@media (max-width: 998px) {
  .section-get-news {
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
  }
}
.section-get-news .my-container {
  padding: 0rem;
  margin: 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.section-get-news .my-container h1 {
  margin-bottom: 0rem;
}
@media (max-width: 768px) {
  .section-get-news .my-container {
    flex-direction: column;
    text-align: center;
  }
}
.section-get-news .my-container .buttons {
  display: flex;
  align-items: center;
  z-index: 1;
}
@media (max-width: 998px) {
  .section-get-news .my-container .buttons {
    padding: 0rem;
    flex-direction: column;
    justify-items: center;
    padding-block: 1rem;
    margin: 0rem;
  }
}
.section-get-news .my-container .input {
  border-radius: 2rem;
  border: none;
  padding: 0.8rem;
  outline: none;
}
@media (max-width: 998px) {
  .section-get-news .my-container .input {
    padding: 1rem;
  }
}
@media (max-width: 324px) {
  .section-get-news .my-container .input {
    padding: 0.5rem;
    margin: 0rem;
    margin-bottom: 0.8rem;
  }
}
.section-get-news .my-container .input:active {
  border: none;
}

.footer {
  background-color: #000000;
}
.footer .wrapper-grid {
  position: relative;
  border-bottom: solid 1px rgba(240, 239, 233, 0.7137254902);
  padding-block: 4rem;
}
@media (max-width: 998px) {
  .footer .wrapper-grid {
    padding-block: 2rem;
  }
}
.footer .wrapper-grid .design-element-4 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer .wrapper-grid .design-element-4 .image-element-4 {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .footer .wrapper-grid .design-element-4 .image-element-4 {
    opacity: 0.5;
  }
}
@media (max-width: 768px) {
  .footer .wrapper-grid {
    display: flex;
    justify-content: center;
  }
}
.footer .wrapper-grid .container-parent {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  z-index: 1;
  padding-inline: 18rem;
}
@media (max-width: 1600px) {
  .footer .wrapper-grid .container-parent {
    padding-inline: 6rem;
  }
}
@media (max-width: 1200px) {
  .footer .wrapper-grid .container-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    justify-items: center;
    text-align: center;
  }
  .footer .wrapper-grid .container-parent .logo {
    grid-column: 1/3;
  }
  .footer .wrapper-grid .container-parent .section-company {
    border: solid 1px #82beff;
    padding: 1rem;
    border-radius: 1rem;
    width: 95%;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer .wrapper-grid .container-parent .section-help {
    border: solid 1px #fd8968;
    padding: 1rem;
    border-radius: 1rem;
    width: 95%;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer .wrapper-grid .container-parent .section-resorces {
    border: solid 1px #fcc3b4;
    padding: 1rem;
    border-radius: 1rem;
    width: 95%;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer .wrapper-grid .container-parent .section-link {
    border: solid 1px #fffd75;
    padding: 1rem;
    border-radius: 1rem;
    width: 95%;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (max-width: 768px) {
  .footer .wrapper-grid .container-parent {
    width: 100%;
    margin: 0rem;
    padding-inline: 1rem;
    padding-top: 1rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .footer .wrapper-grid .container-parent .logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer .wrapper-grid .container-parent .section-company {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer .wrapper-grid .container-parent .section-help {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer .wrapper-grid .container-parent .section-resorces {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .footer .wrapper-grid .container-parent .section-link {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
.footer .wrapper-grid p {
  color: #FFFFFF;
  padding-top: 2rem;
}
.footer .wrapper-grid h3 {
  color: #FFFFFF;
  padding-bottom: 1rem;
}
.footer .wrapper-grid a {
  text-decoration: none;
  font-weight: 100;
  color: #FFFFFF;
  line-height: 3rem;
}
.footer .wrapper-grid a:hover {
  text-decoration: underline;
}
.footer .wrapper-grid a:active {
  color: #DAD9D3;
}
.footer .page-end {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 18rem;
  color: #FFFFFF;
}
.footer .page-end .copy-right {
  margin: 0;
  padding: 0;
}
@media (max-width: 1600px) {
  .footer .page-end {
    padding-inline: 6rem;
  }
}
@media (max-width: 998px) {
  .footer .page-end {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .footer .page-end .copy-right {
    order: 2;
  }
  .footer .page-end .social-media {
    order: 1;
  }
}
.footer .page-end .social-media {
  height: auto;
  width: auto;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.footer .page-end .social-media i {
  color: white;
  font-size: 1.4rem;
  transition: 0.2s;
  padding: 0.5rem;
}
.footer .page-end .social-media i:hover {
  transform: scale(1.4);
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.696);
  border-radius: 50%;
}
.footer .page-end .social-media i:active {
  color: #FFFFFF;
  background-color: #DAD9D3;
}

/* Let'sConnectPage */

.lets-connect {
  background-color: #F0EFE9;
  position: relative;
  display: block;
  margin: auto;
}
.lets-connect .element {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: -1%;
}
.lets-connect .container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5rem;
}
@media (max-width: 768px) {
  .lets-connect .container {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .lets-connect .container .content {
    border: none;
  }
}

.visit-call-email .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding-block: 4rem;
}
@media (max-width: 998px) {
  .visit-call-email .container {
    grid-template-columns: 1fr;
    padding-block: 1rem;
    gap: 1rem;
  }
}
.visit-call-email .container .content {
  display: flex;
  justify-content: center;
  border: solid 2px #F0EFE9;
  padding: 2rem;
  gap: 3rem;
}
@media (max-width: 998px) {
  .visit-call-email .container .content {
    border-radius: 1rem;
    padding: 0rem;
    gap: 2rem;
  }
}
.visit-call-email .container .content .icon {
  width: 60px;
  height: 60px;
}
@media (max-width: 998px) {
  .visit-call-email .container .content .icon {
    width: 40px;
    height: auto;
  }
}
@media (max-width: 998px) {
  .visit-call-email .container .content .text-content {
    margin-top: 1rem;
  }
}
.visit-call-email .container .content .text-content h2 {
  font-size: 22px;
}
@media (max-width: 768px) {
  .visit-call-email .container .content .text-content h2 {
    font-size: 18px;
    font-weight: 600;
  }
}

.leave-us-a-message .wrapper-grid {
  padding-inline: 4rem;
  position: relative;
}

.leave-us-a-message .wrapper-grid .MessageHasBeenSent{
  width: 90%;
  max-width: 24rem;
  height: 7rem;
  background-color: #F9D783;
  position: fixed;
  bottom: 50%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity ease-out 1s;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .leave-us-a-message .wrapper-grid {
    padding-inline: 1rem;
  }
}
.leave-us-a-message .wrapper-grid .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0EFE9;
  padding-block: 6rem;
}
@media (max-width: 768px) {
  .leave-us-a-message .wrapper-grid .container {
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 1rem;
  }
}
.leave-us-a-message .wrapper-grid .container .textbox {
  text-align: center;
  padding-bottom: 1rem;
}
@media (max-width: 768px) {
  .leave-us-a-message .wrapper-grid .container .textbox {
    padding-bottom: 0rem;
  }
  .leave-us-a-message .wrapper-grid .container .textbox h1 {
    font-size: 25px;
  }
}
.leave-us-a-message .wrapper-grid .container .forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  gap: 0.2rem; 
  padding-block: 1rem;
  position: relative;
}
@media (max-width: 768px) {
  .leave-us-a-message .wrapper-grid .container .forms {
    width: 90%;
  }
}
.leave-us-a-message .wrapper-grid .container .forms textarea {
  height: 8rem;  
}
.leave-us-a-message .wrapper-grid .container .forms .input {
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
  border: none;
  outline: none;
}
.leave-us-a-message .wrapper-grid .container .forms .btn-yellow {
  width: 100%;
}

@media (min-width: 100px)
{
  .mapWrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-inline: 0rem;
    width: 100%;
    height: 40vh;
  }
}

@media (min-width: 768px)
{
  .mapWrapper {
    padding-top: 6rem;
    padding-inline: 0rem;
    width: 100%;
    height: 60vh;
  }
}

.mapWrapper .map
{
  width: 100%;
}

.wrapper-grid-news {
  padding-inline: 18rem;
  padding-top: 8rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news {
    padding: 1rem;
  }
}
.wrapper-grid-news .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  padding-block: 2rem;
  padding-inline: 0rem;
}

.wrapper-grid-news .container .content .imageContainer {

  height: 16rem;
  padding: 0;
  width: 100%; 
  overflow-y: hidden;
  overflow-x: hidden;  
}

.wrapper-grid-news .container .content .image-article  {
  width: 100%;
}
@media (max-width: 768px) {
  .wrapper-grid-news .container {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper-grid-news .content {
    border: solid 1px #DAD9D3;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .wrapper-grid-news .slider {
    display: none;
  }
}
.wrapper-grid-news .slider .carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.6901960784);
  color: #dad9d3;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8rem;
}

.wrapper-grid-news .slider .carousel-item {
  width: 100%;
  height: 26rem;
  border: solid 1px #DAD9D3;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.wrapper-grid-news .slider .carousel-item .sliderLink {
 padding-top: 1rem;
}

.wrapper-grid-news .slider .carousel-item .sliderLink .linkTitle{
  color: black;
  text-decoration: none;  
 }

.wrapper-grid-news .slider .carousel-item .imageContainer {

  width: 100%;
  height: 16rem;
  padding: 0; 
}

.wrapper-grid-news .slider .carousel-item .imageContainer .image-article {

  width: 100%;
  height: 16rem;
}


.wrapper-grid-news .slider .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6901960784);
  color: #dad9d3;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8rem;
}
.wrapper-grid-news .pagination {
  padding-block: 2rem;
  display: flex;
  justify-content: center;
}
.wrapper-grid-news .pagination :focus {
  background-color: #191919;
  z-index: -1;
  border: none;
}
.wrapper-grid-news .pagination :active a {
  color: #FFFFFF;
  background-color: #191919;
  border: none;
}
.wrapper-grid-news .pagination .page-item {
  color: #191919;
}
.wrapper-grid-news .pagination .page-item :focus {
  color: #FFFFFF;
  border: none;
}
.wrapper-grid-news .pagination .page-item :active {
  color: #FFFFFF;
  border: none;
}
.wrapper-grid-news .pagination .page-link {
  margin-inline: 0.4rem;
  border-radius: 0.5rem;
  border-color: solid 1px #DAD9D3;
  color: #191919;
}
@media (max-width: 768px) {
  .wrapper-grid-news .pagination {
    display: none;
  }
}

@media (max-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}

.wrapper-grid-news.articles {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  padding-bottom: 4rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles {
    width: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    padding-top: 1rem;
  }
}
.wrapper-grid-news.articles .left-part {
  display: block;
  width: 768px;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part {
    width: 320px;
  }
}
.wrapper-grid-news.articles .left-part .headlines {
  width: 540px;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part .headlines {
    width: 320px;
    text-align: center;
  }
  .wrapper-grid-news.articles .left-part .headlines h1 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}
.wrapper-grid-news.articles .left-part .headlines .article-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part .headlines .article-info {
    gap: 0.5rem;
    width: 320px;
    display: flex;
    justify-content: center;
    padding-block: 0.2rem;
  }
}
.wrapper-grid-news.articles .left-part .headlines .article-info .yellow-circle {
  width: 10px;
  height: 10px;
  background-color: #F9D783;
  border-radius: 50%;
}
.wrapper-grid-news.articles .left-part .headlines .article-info p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part .headlines .article-info p {
    font-size: 12px;
  }
}
.wrapper-grid-news.articles .left-part .content {
  display: block;
}

.wrapper-grid-news.articles .left-part .content .imageContainer {
  width: 100%;
  padding: 0; 
}

.wrapper-grid-news.articles .left-part .content .imageContainer .image {
  width: 100%;
  padding: 0; 
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part .content {
    display: flex;
    border: solid 2px #F0EFE9;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 320px;
    gap: 1rem;
  }
  .wrapper-grid-news.articles .left-part .content img {
    width: 300px;
  }
}
.wrapper-grid-news.articles .left-part .content .quote {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-right: 1rem;
  padding-block: 3rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part .content .quote {
    padding-block: 0rem;
    gap: 0rem;
  }
}
.wrapper-grid-news.articles .left-part .content .quote p {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part .content .quote p {
    font-size: 18px;
    font-style: italic;
  }
}
.wrapper-grid-news.articles .left-part .content .tags {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part .content .tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 320px;
    gap: 0.5rem;
  }
}
.wrapper-grid-news.articles .left-part .content .tags .tags-padding {
  width: 100px;
  height: 40px;
  background-color: #F0EFE9;
  border-radius: 2rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .left-part .content .tags .tags-padding {
    font-size: 10px;
    width: 80px;
    height: 30px;
  }
}
.wrapper-grid-news.articles .right-part {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .right-part {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 320px;
    margin-top: 1rem;
  }
}
.wrapper-grid-news.articles .right-part .searchbox {
  background-color: #F0EFE9;
  display: inline-block;
  border-radius: 25px;
  font-size: small;
  padding-inline: 1rem;
  width: 100%;
  margin-inline: 2rem;
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .right-part .searchbox {
    margin-bottom: 1rem;
  }
}
.wrapper-grid-news.articles .right-part .searchbox input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 200px;
  padding-block: 0.8rem;
  font-size: 16px;
  padding-inline: 10px;
}
.wrapper-grid-news.articles .right-part .container-right {
  padding-block: 2rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .right-part .container-right {
    padding: 0rem;
  }
}
.wrapper-grid-news.articles .right-part .container-right .content-right {
  border: solid 2px #F0EFE9;
  padding: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .wrapper-grid-news.articles .right-part .container-right .content-right {
    width: 320px;
    border: solid 2px #F0EFE9;
    padding: 1rem;
    border-radius: 1rem;
  }
}
.wrapper-grid-news.articles .right-part .container-right .content-right .short-border {
  width: 40px;
  height: 2px;
  background-color: #191919;
  border: #191919;
  margin-top: -8px;
  margin-bottom: 1rem;
}
.wrapper-grid-news.articles .right-part .container-right .content-right h3 {
  border-spacing: 6rem;
}
.wrapper-grid-news.articles .right-part .container-right .content-right b {
  font-size: 15px;
  font-weight: 600;
}
.wrapper-grid-news.articles .right-part .container-right .content-right hr {
  margin: 0rem;
  padding-bottom: 12px;
}
.wrapper-grid-news.articles .right-part .container-right .content-right .lower-content b {
  line-height: 35px;
}

/* Section - News And Articles */
.section.section-article {
  background-color: #ffffff;
  padding-top: 3rem;
}

.section.section-article.article .slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  row-gap: 2rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  height: 500px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  scroll-snap-type: x mandatory;
  -ms-verrflow-style: none;
  overflow: -moz-scrollbars-none;
}
.section.section-article.article .slider a {
  color: #191919;
  text-decoration: none;
}
.section.section-article.article .slider a:hover {
  color: #868686;
  cursor: pointer;
}
.section.section-article.article .slider a:active {
  color: #DAD9D3;
}
.section.section-article.article .slider .article-container {
  position: relative;
}
@media (max-width: 768px) {
  .section.section-article.article .slider {
    display: none;
  }
}

@media (min-width: 768px) {
  .wrapper-grid-news.slider {
    display: none;
  }
}

/* LoginPage */

.section.login {
  background-color: #F0EFE9;
  padding-block: 4rem;
  position: relative;
}
.section.login .design-element {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: auto;
}
.section.login .design-element #element {
  width: 100%;
  
}
.section.login .container.login {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 320px;
  padding-block: 2rem;
  border: solid 2px #dad9d3;
  border-radius: 2rem;
}
@media (max-width: 380px) {
  .section.login .container.login {
    width: 280px;
  }
}
@media (max-width: 320px) {
  .section.login .container.login {
    width: 240px;
  }
}
.section.login .container.login .form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 320px;
  padding-block: 2rem;
  gap: 1rem;
}
.section.login .container.login .form .btn-black {
  margin-inline: 0;
  margin-top: 1rem;
}
.section.login .container.login .form .input {
  border: none;
  border-radius: 2rem;
  padding: 0.5rem;
  outline: none;
}

/* NotFoundPage */


.NotFoundSection
{
  display: flex;
  justify-content: center;
}

.NotFoundSection .NotFoundContainer
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30vw;
    text-align: center;
}

.NotFoundSection .NotFoundContainer .NotFoundHeadline
{
    text-align: center;
}

.NotFoundSection .ButtonNotFound
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.diver
{
  background-color: #F0EFE9;
}

@media (min-width: 200px)
{
.wrapper-grid-Services
{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
}
.containerServices
{
  display: none;
}
}

@media (min-width: 768px)
{
.containerServices
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

.wrapper-grid-Services .slider
{
   display: none;
}

}

@media (min-width: 1400px)
{
.wrapper-grid-Services
{
   padding-inline: 18rem;
   padding-block: 2rem;
}
}

.error
{
  background-color: rgb(255, 246, 246);
  border: solid 1px rgb(255, 78, 78);
}

#inputErrorMessage
{
  position: relative;
}
#errorMessage
{
  color: rgb(251, 56, 56);
  position: absolute;
  bottom: -50%;
  left: 25%;
}

#errorUsername
{
  color: rgb(251, 56, 56);
}

#errorPassword
{
  color: rgb(251, 56, 56);
}

@media (min-width:100px)
{
#SubscribeBtn
{
  margin-left: 1rem;
}
}

@media (max-width: 998px)
{
#SubscribeBtn
{
  margin-left: 0;
  margin-top: 1.8rem;
}
}

.inValid
{
  margin-top: 0.3rem;
  padding: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(235, 89, 89);
  height: 1rem;
}
